player-connection-mode=Listen
player-connection-guid=910033137
player-connection-debug=0
player-connection-project-name=projectFlip
player-connection-ip=84.219.202.102
player-connection-ip=172.23.144.1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
